body {
    background-color: aqua;
}
h1 {
    text-align: center;
    
}
.sidebar {
    width: 100;
    float: left;
    background-color: rgb(56, 67, 174);
    width: auto;
    padding: 10px;
    border: solid black;
    border-width: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
  .highlight {
    color: rgb(212, 172, 11);
    font-family: 'Gill Sans';
  }
  .column {
    width: 300px;
    float: right;
  }
  .centered-image { 
    margin: auto;
    width: 80%;
    height: 400px;
    display: block;
    margin-bottom: 10px;
  }